﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse .navbar-brand {
    color: white !important;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    padding: 14px 20px !important;
    text-transform: uppercase !important;
    border: 0px solid #333;
    font-size: 14px !important;
    font-weight: 700 !important;
    text-align: center;
}

.navbar-inverse {
    background-color: #254a65 !important;
    padding-bottom: 10px;
    padding-top: 10px;
}

    .navbar-inverse .navbar-nav > li > a {
        font-family: 'Montserrat', sans-serif;
        color: white;
        font-weight: 700;
        padding: 21px 10px;
        line-height: 19px;
        overflow: hidden;
    }

.navbar-brand > img {
    display: inline;
    max-width: 45px;
    /*padding: 20px;*/
    margin-top: -8px;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #101010;
    /*margin-top: 10px;*/
    margin-left: 0px;
    overflow: hidden;
}

.scheduler {
    border-spacing: 0px 0px;
    border-collapse: collapse;
    color: #383636;
    font-family: sans-serif;
    font-weight: normal;
    border: 1px solid grey;
    font-size: 12px;
    height: 25px;
}

.scheduler .fixed-header {
    border-collapse: collapse;
}

.scheduler .fixed-header tr {
    border-bottom: 1px solid;
    color: white;
    background-color: #ecebeb;
    color: #383636;
}

.scheduler .scrollable {
    width: 100%;
    height: 500px;
    overflow-y: auto;
    overflow-x: auto;
}

.scheduler .scrollable .body {
    border-collapse: initial;
        border-spacing: 0;
}

    .scheduler .fixed-header th,
    .scheduler .body td {
        border-right: 1px solid #706e6e;
        border-bottom: 1px solid #706e6e;
    }

    .scheduler .fixed-header th,
    .scheduler .body td {
        min-width: 178px;
        width: 178px;
        max-width: 178px;
        height: 25px;
        font-weight: normal;
    }

        .scheduler .fixed-header th:first-child,
        .scheduler .body td:first-child {
            min-width: 70px !important;
            width: 70px !important;
            max-width: 70px !important;
        }

    .scheduler .body th[rowspan] {
        background-color: #ecebeb;
        vertical-align: top;
        min-width: 70px !important;
        width: 70px !important;
        max-width: 70px !important;
        border-right: 1px solid #706e6e;
        border-bottom: 1px solid #706e6e;
        font-weight: normal;
    }

    .scheduler tr.timeslot-top td:first-child {
        border-bottom: 1px solid gray;
    }

    .scheduler tr.timeslot-top td {
        border-bottom: 1px dotted rgb(116, 114, 114);
    }

    .scheduler tr.timeslot-bottom td {
        border-bottom: 1px solid gray;
    }

        .scheduler tr.timeslot-bottom td.available,
        .scheduler tr.timeslot-top td.available {
            background-color: #ecebeb;
            border-bottom: none;
            border-left: solid lightslategray 4px;
            /*border-right: outset;*/
            min-width: 172px;
            width: 172px;
            max-width: 172px;
        }


        .scheduler tr.timeslot-bottom td.drag-overlay,
        .scheduler tr.timeslot-top td.drag-overlay {
            background-color: #ecebeb;
            border-bottom: none;
            border-left: 4px solid lightslategrey;
            width: 174px;
            min-width: 174px;
            max-width: 174px;
            font-size: 12px;
            height: 25px;
        }

.drag-up:before {
    cursor: ns-resize;
    z-index: 999;
    border: 2px double #000;
    border-width: 0 0 3px 0;
    width: 10%;
    left: 45%;
    content: "";
    position: relative;
    /* top: -5px; */
    display: block;
}

.drag-down:after {
    cursor: ns-resize;
    z-index: 999;
    border: 2px double #000;
    border-width: 0 0 3px 0;
    width: 10%;
    left: 45%;
    content: "";
    position: relative;
    /* top: 5px; */
    display: block;
    height: 0px;
}

.commands-new-slot {
    display: none;
    position: fixed;
    background-color: lightgray;
    border: 4px solid lightsteelblue;
    padding: 10px;
    float: right;
}

.slot-command {
    cursor: pointer;
    float: right;
    margin-left: 0px;
    margin-right: 3px;
}

.accept-slot {
    color: green;
}

.cancel-slot {
    color: red;
}

.center {
    text-align: center;
    font: bold 34px times new roman;
}

.descript {
    text-align: center;
    font: 18px arial;
}

.ital {
    font-style: italic;
    text-align: center;
}

.title {
    text-align: left;
    font-family: 'Times New Roman';
    color: #00688F;
}

.pp {
    font: 16px arial;
    line-height: 1.5;
}

.panel {
    max-width: 60%;
}

.panel-collapse {
    margin-top: 10px;
}
