
<div style="background-color: lightblue; padding:30px" ;>
    <h2 class="center" ;>
        Ready To Join The Team?
    </h2>
</div>

<img src="~/Images/wildlifeTeam.jpg" alt="Wildlife Team" style="text-align:center; width:100%; padding-top:30px">

<h3>How to Apply</h3>

<div>
    <p class="pp">
        Please download and complete the application form below, and send it to our wildlife staff at birdhelp@hawaiiwildlifecenter.org.
        If you’d like more information, please contact us at the birdhelp email address.
    </p>
</div>


<p><a class="btn btn-primary btn-lg" href="https://www.hawaiiwildlifecenter.org/wheels-for-wildlife-ground-transport-team.html">Learn more &raquo;</a>&emsp;<a class="btn btn-primary btn-lg" href="https://www.hawaiiwildlifecenter.org/wp-content/uploads/2019/04/W4W-Volunteer-App-1.pdf">Application Form</a></p>