
<div style="background-color: lightblue; padding:30px" ;>
    <h2 class="center" ;>
        Ready To Join The Team?
    </h2>
</div>

<img src="~/Images/wildlifeTeam.jpg" alt="Wildlife Team" style="text-align:center; width:100%; padding-top:30px">

<h3>How to Apply</h3>

<div>
    <p class="pp">
        Please download and complete the application form below, and send it to our wildlife staff at birdhelp@hawaiiwildlifecenter.org.
        If you’d like more information, please contact us at the birdhelp email address.
    </p>
</div>


<p><a class="btn btn-primary btn-lg" href="https://www.hawaiiwildlifecenter.org/wheels-for-wildlife-ground-transport-team.html">Learn more &raquo;</a>&emsp;<a class="btn btn-primary btn-lg" href="https://www.hawaiiwildlifecenter.org/wp-content/uploads/2019/04/W4W-Volunteer-App-1.pdf">Application Form</a></p>

<div style="padding-top: 50px; padding-bottom: 50px">
    <h2 class="title">
        Tasks
    </h2>
    <h4 style="font: bold arial">
        Wheels for Wildlife Volunteers are asked to assist us in the following ways:
    </h4>
    <p style="font: italic 18px arial;">
        1. Transport an injured native bird to HWC or to a Rescue Partner
    </p>
    <p class="pp">
        We may ask you to meet up with the person who found the injured bird or have you transport the bird between Rescue Partners.
        In most cases the bird will already be prepped for transport upon pickup. Occasionally volunteers may need to assist in catching up a bird.
        You will be notified beforehand what the rescue involves and given the opportunity to decline if it is something you’re not comfortable with assisting.
    </p>
    <p style="font: italic 18px arial;">
        2. Airport Pick-up/Drop-off
    </p>
    <p class="pp" style="padding-bottom: 20px">
        You may be asked to pick-up or drop-off bird at the airport for inter-island travel.
        The bird will be in a carrier and you will be given specific airport and flight instructions.
    </p>
    <p class="pp" style="padding:30px;background-color: #83A0AD">
        Note: HWC possesses the permits necessary to legally transport native birds. You will be given copies of these permits upon acceptance into the program.
        We will also provide you with a packet of information and instructions for getting the bird safely to its destination.
    </p>
</div>
<div style="padding-bottom: 30px">
    <h2 class="title">
        Volunteer Training and Regulations
    </h2>
    <p class="pp" style="padding-bottom:30px">
        W4W volunteers are individuals with diverse backgrounds, from biologists to conservation-minded community members.
        Volunteers keep in contact with HWC staff during the transport process as clear communication is critical for a smooth transition from
        transport into rehabilitation or from transport to release.
    </p>
    <p class="pp">
        W4W volunteers receive training on:
        <ul>
            <li>
                animal handling safety
            </li>
            <li>
                patient stress reduction
            </li>
            <li>
                Dept. of Agriculture inspection procedure
            </li>
            <li>
                flight on-boarding procedure
            </li>
        </ul>
    </p>
</div>