
<div style="background-color: lightblue; padding:30px" ;>
    <h2 class="center" ;>
        Wheels For Wildlife Support
    </h2>
</div>

<img src="~/Images/hwc.png" alt="HWC" style="width:100%; padding-top: 30px">

<div style="padding-top: 30px">
    <address style="font-size:18px; padding-top:60px">
        <strong>Hawai‘i Wildlife Center</strong><br />
        P.O. Box 551752<br />
        Kapa‘au, HI 96755<br />
        <abbr title="Phone">Phone:</abbr>
        808.884.5000
    </address>
</div>

<address style="font-size:18px;">
    <strong>General Inquiries:</strong> <a href="mailto:info@hawaiiwildlifecenter.org">info@hawaiiwildlifecenter.org</a><br />
    <strong>Bird and Bat Helpline:</strong>   <a href="mailto:birdhelp@hawaiiwildlifecenter.org">birdhelp@hawaiiwildlifecenter.org</a><br />
</address>